@page
@using Entities
@model ZooBazzarWebApp.Pages.ScheduleModel
@{

}
<link rel="stylesheet" href="./css/Schedule.css">
<h1>Hey, @Model.currentEmployee.Name !</h1>
<br />
<br/>
@foreach (DailySchedule ds in Model.schedules)
{
    <div class=schedule-card> 
        <div class = information>

            <div class=information-title>
                <h1>@ds.Date</h1>
                <h2>@ds.TimeSlot</h2>

            </div>
            <p>Main caretaker: @ds.MainCaretakerFir.Name</p>
            <p>Second caretaker: @ds.MainCaretakerSec.Name</p>
            @if (ds.HelpCaretaker != null)
            {
                <p>Help caretaker: @ds.HelpCaretaker.Name</p>
            }        
        </div>
    </div>
}


