@page
@using Entities
@model ZooBazzarWebApp.Pages.ScheduleModel
@{

}
<script src="~/js/schedule.js"></script>
<link rel="stylesheet" href="./css/Schedule.css">
<h1>Hey, @Model.currentEmployee.Name !</h1>
<br />
<br />

<div>

    <table>
        <tr>
            <td class="time">Day/Shift</td>
            @foreach (string day in @Model.GetWeek(0))
            {
                <td class="time">@day</td>
            }
        </tr>

        <tr>
            <td class="time">6:00 - 12:00</td>
            @for (int i = 0; i < 7; i++)
            {
                @if (@Model.GetShift("morning", i) != null)
                {
                    <td class="shift"><button onclick="GetInfo()" class="button" value="info">Shift</button></td>
                }
                else
                {
                    <td class="free"></td>
                }
            }
        </tr>

        <tr>
            <td class="time">12:00 - 18:00</td>
            @for (int i = 0; i < 7; i++)
            {
                @if (@Model.GetShift("noon", i) != null)
                {
                    <td class="shift">Shift</td>
                }
                else
                {
                    <td class="free"></td>
                }
            }
        </tr>

        <tr>
            <td class="time">18:00 - 00:00</td>
            @for (int i = 0; i < 7; i++)
            {
                @if (@Model.GetShift("evening", i) != null)
                {
                    <td class="shift">Shift</td>
                }
                else
                {
                    <td class="free"></td>
                }
            }
        </tr>


    </table>

    <div id="info"></div>

</div>



